.Main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    
    .Main__card{
    width: 33%;
    position: relative;
    margin-bottom:5px ;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }
    .Main__button{
        z-index: 1;
        position: absolute;
        top: 5px;
        right: 5px;
        display: none;
        
    }
}
}
.Main__card:hover{
    
    .Main__button{
        display: block;
        cursor: pointer;
        
    }
}
