.SingleShow {
  width: 30%;
  margin-right: 15px;
  border: solid 1px grey;
  margin-bottom: 10px;
  /* position: relative; */
}
.SingleShow img {
  width: 100%;
}

.SingleShow h3 {
  text-align: center;
}

.SingleShow:hover {
  background-color: rgb(194, 170, 139);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}


.SingleShow__rate {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}